.recommended {
  flex-basis: 30%;
}

.recommended-video-list {

  display: flex;
  justify-content: space-between;
  margin-bottom: 8px;
}

.recommended-video-list img {
  flex-basis: 49%;
  width: 50%;
  border-radius: 12px;
}

.video-info {
  flex-basis: 49%;
}

.video-info h4 {
  font-size: 14px;
  margin-bottom: 8px;
}

.video-info .channel-name {
  font-size: 13.5px;
  font-weight: 500;
  color: var(--text-secondary);
}

.video-info .channel-statistics {
  margin-top: 4px;
  font-size: 12px;
  color: var(--text-secondary);
}

@media (max-width: 900px) {
  .recommended {
   flex-basis: 100%;
  }

}