@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
}

:root {
  --white: #fff;
  --text-primary: #0f0f0f;
  --text-secondary: #606060;
  --link-hover-bg: #eeeeee;
  --primary-cta-bg: #0f0f0f;
  --secondary-cta-bg: rgba(0, 0, 0, 0.05);
  --external-link: rgb(75, 75, 240);

  --token-6: 6px;
  --token-8: 8px;
  --token-10: 10px;
  --token-12: 12px;
  --token-14: 14px;
  --token-16: 16px;
  --token-17: 17px;

  --side-padding: 20px;
}

a {
  text-decoration: none;
  color: #5a5a5a;
}

img {
  cursor: pointer;
}

.flex-div {
  display: flex;
  align-items: center;
}

.gap-25 {
  gap: 25px;
}

.gap-8 {
  gap: var(--token-8);
}

.mr-20 {
  margin-right: 20px
}

.mr-8 {
  margin-right: 8px;
}
.ml-5 {
  margin-left: 5px;
}

.collapse-container {
  transition: all 0.5 ease;
  
  padding-left: 17%;
  padding-right: 2%;
}

.expand-container {
  transition: all 0.5 ease;
  padding-left: 100px;
  /* padding-right: 2%; */
}

.card-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  row-gap: 35px;
  column-gap: 20px;
  padding-top: 20px;


.card img {
  width: 100%;
  border-radius: 8px;
}

.card .video-title {
  font-size: 14px !important;
  font-weight: 600;
  color: var(--text-primary);
  margin: 5px 0;
}

.card .channel-title {
  font-size: 14px;
  color: #606060;
  margin: 10px 0 6px;
}

.card p {
  color: #606060;
  font-size: 14px;
}

}

@media (max-width: 900px) {
  .collapse-container, .expand-container  {
   padding-left: 5%;
   padding-right: 5%;
  }

}

