.sidebar {
  width: 15%;
  height: 100vh;
  position: fixed;
  top: 0;
  padding-left: var(--side-padding);
  padding-top: 80px;
  transition: all 0.5s ease-in-out;
}

.shortcut-links, .subscribed-list {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.collapse-sidebar .shortcut-links, .collapse-sidebar .subscribed-list {
  align-items: center;
}

.side-link {
  flex: 1;
  gap: 20px;
  margin-bottom: 10px;
  flex-wrap: wrap;
  cursor: pointer;
  border-radius: 6px;
  padding: 8px 12px;
  transition: all 0.5s ease-in-out;

}

.side-link:hover {
  background: #eeeeee;
}

.sidebar hr {
  border: 0;
  height: 1px;
  background-color: #ccc;
  width: 85%;
}


.separator-container {
 display: flex;
 align-items: center;
 justify-content: center;
}

.sidebar .separator {
  border: 0;
  height: 1px;
  background-color: #ccc;
  width: 70px;
}

.subscribed-list h3 {
  font-size: 13px;
  margin: 20px 0;
  color: #5a5a5a;
}

.collapse-sidebar {
  width: 5%;
  transition: all 0.5s ease-in-out;
}

.collapse-sidebar .side-link p, .collapse-sidebar .subscribed-list h3 {
  display: none;
}

 .collapse-sidebar hr {
  width: 60%;
  margin-bottom: 25px;
 }

 .side-link.active .side-icon {
  padding-bottom: 1px;
  border-bottom: 3px solid red;
 }

 /* RIGHT SIDE BAR STYLING */

 .right-sidebar {
  width: 18%;
  background-color: #fff;
  height: 80vh;
  position: fixed;
  top: 7.5vh;
  border-radius: 18px;
  z-index: 99999;
  right: 0;
  padding-top: 20px;
  padding-left: var(--side-padding);
  box-shadow: -4px 0 10px rgba(0, 0, 0, 0.15);
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  transition: all 0.5s ease-in-out;
  transform: translateX(100%);
}

.show-sidebar {
   transform: translateX(-20px);
}

.profile-details {
  display: flex;
  align-items: flex-start;
  gap: 8px;
 

  .user-details {
     display: flex;
     flex-direction: column;
     gap: 8px;
 
  .user-data {
    font-size: 14px;
    color: var(--text-primary);
    font-weight: 430;
  }

  .channel-link {
    color: var(--external-link);
  }
   }

  .user-details div {
    display: flex;
    flex-direction: column;
    gap: 3px;
  }
}


 @media (max-width: 900px) {
  .sidebar {
    display: none;
  }

}